.header{
    width: 1920px;
height: 800px;
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 147px;

}
.banner-title{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;

}
.profile-pic{
    padding-bottom: 0;
}
.btn-primary{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.section-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-top: 100px;
}
.section-p{

text-align: center;
}


.img1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
    width: 464px;
height: 538px

}
.img2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-right: 20px;
width: 464px;
height: 538px;
}
.img3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 464px;
height: 538px;
}
.f-flowers{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    padding: 30px;
}

.text-primary{
    color: #E55473;
}
.about{
    width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
text-align: center;
padding-top: 300px;

}
.about-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-left: 0;
padding-left: 423px;
}
.title-description{
    padding-left: 395px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 594px;
}
.btn{
    padding-left: 400px;
}
.about-img{
    padding: 0px 30px 30px 30px;
}
.social{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.subscribe{
    text-align: center;
    align-items: center;
    width: 1440px;
height: 449px;
border-radius: 8px;
background: url(./Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
margin-left: 240px;
margin-top: 100px;

}
.subscribe-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 70Px;

}
.box{
    width: 700px;
height: 64px;
}
.footer{
    width: 1922px;
height: 449px;
flex-shrink: 0;
background: #111010;
text-align: center;
color: white;
padding-top: 70px;
margin-top: 50px;

}
.footer-title{
    font-weight: 800;
    font-size: 48px;
}