.header{
    width: 1920px;
height: 850px;
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 147px;

}
.banner-title{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;

}
.profile-pic{
    padding-bottom: 0;
}
.btn-primary{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.section-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.section-p{

text-align: center;
}

.img1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 10px;
    width: 464px;
height: 538px

}
.img2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-right: 10px;
width: 464px;
height: 538px;
}
.img3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 464px;
height: 538px;
}
.f-flowers{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    padding: 30px;
    
}
.name{
    text-align: center;
    display: flex;
}